<section id="about" class="about-section">
  <!-- Container -->
  <div class="about-container">
    <!-- Image Section -->
    <div class="about-image">
      <img src="./assets/med.png" alt="About Me Image" class="about-img" />
    </div>

    <!-- Text Section -->
    <div class="about-text">
      <h2 class="about-title">About Me</h2>
      <p class="about-description">
        I am a skilled Angular Frontend Developer with a strong passion for
        creating user-friendly and efficient web applications. With a solid
        educational background in embedded systems engineering and years of
        professional experience, I thrive on building scalable, visually
        appealing, and high-performing software solutions.
      </p>
      <a href="#portfolio" class="about-btn">Learn More</a>
    </div>
  </div>
</section>
