<section id="projects" class="projects-section">
  <h2 class="projects-title">My Projects</h2>
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects">
      <div class="project-image">
        <img [src]="project.src" [alt]="project.name" />
      </div>
      <div class="project-content">
        <h3 class="project-name">{{ project.name }}</h3>
        <ul class="project-technologies">
          <li *ngFor="let tech of project.technologies">{{ tech }}</li>
        </ul>
        <a [href]="project.link" class="project-link" target="_blank">
          View Project
        </a>
      </div>
    </div>
  </div>
</section>
